.container {
  max-width: 1120px;
  padding: 2rem;
  margin: 0 auto;

  button {
    border: none;
    background: transparent;
    color: #FF57B2;

    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 600;
  }

}
